<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<h4>Reviews</h4>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><strong><%= review.rating %> stars: </strong><%= review.content %></li>
  <% end %>
</ul>
<h3>Write a new Review</h3>
<div class="container">
  <div class="form">
    <%= simple_form_for [ @restaurant, @review ] do |f| %>
      <%= f.input :rating, input_html: { min: 0, max: 5 } %>
      <%= f.input :content %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
